body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #333333;
  background: #ebebe0 !important;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color:#e45028;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}

/*NAVIGATION BAR*/
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color:white;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  color:white;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (max-width: 240px){
  .navbar{
    padding-left:-15px;
    padding-right:-15px;
  }
  .fa-bars{
    font-size:20px !important;
  }
  .navbar-brand{
    font-size:30px !important;
  }
  .navbar-nav a{
    background-color:#e45028;
    border-top: 1px solid #ebebe0;
    border-bottom: 1px solid #ebebe0;
    text-align:center;
  }
  .navbar-nav a:hover{
    background-color:#ec846f !important;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: #211e19;
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #211e19;
    background-color:transparent;
  }
  .navbar-custom .nav li ul.dropdown-menu a {
    color: #333333;
  }
  .navbar-custom .nav li ul.dropdown-menu a:hover,
  .navbar-custom .nav li ul.dropdown-menu a:focus {
    color: #0085A1;
  }
}

@media only screen and (min-width: 1280px) {
  .navbar-custom {
    background-color: transparent;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    background-color: rgba(235, 235, 224, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #e45028;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color:#e45028;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}




/*BACKGROUND/HOME SECTION*/
.intro-header {
  background-color: #777777;
  background: no-repeat center right;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

/*.scroll-down-button{
  position: fixed;
  display:block;
  bottom:0;
  left:50%;
  right:50%;
  color: #e45028;
}*/
.intro-header{
  position:relative;
}
.scroll-down-button{
  position: absolute;
  display:block;
  bottom:0;
  left:50%;
  right:50%;
  color: #e45028;
}
/*animate scroll down button*/
@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.faa-shake.animatedOne,
.faa-shake.animatedOne-hover:hover,
.faa-parent.animatedOne-hover:hover > .faa-shake {
  -webkit-animation: wrench 2.5s ease;
  animation: wrench 2.5s ease;
}
/*end animation*/

@media (max-width: 240px) {
  .intro-header {
    background: no-repeat right -480px bottom -150px;
  }
}

/*SERVICES SECTION*/
.services {
	border-top:1px solid #F4F5EE;
  font-size:19px;
  font-weight:300;
  line-height:40px;
}

.taglineWrapper {
  background-color:#DEDECD;
  padding:35px 0px 35px 0px;
	color:#666666;
	text-align:center;
}
/*.servicesBox{
  position:relative;
}
.servicesCircle{
  height:150px;
}
#designIcon{
  height:150px;
}
.small #designIcon{
  position:absolute;
  height:50px;
  top:15px;
  right:15px;
}
.changeHeightOfIconDivs{
  height:50px !important;
}*/
.servicesBox{
  position:relative;
}
.servicesCircle{
  float:clear;
}
#designIcon{
  height:150px;
}
.small #designIcon{
  position:absolute;
  height:50px;
  top:15px;
  right:15px;
}
.changeHeightOfIconDivs{
  height:50px !important;
}
.title1, .title2, .title3, .title4, .title5, .title6, .title7{
  display:none;
  animation-name: anim-1;
  position:relative;
  left:25px;
  /*bottom:25px;*/
  width: 60%;
  font-size: 1em;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}
.generic{
  height:1000px;
}
@keyframes anim-1 {
  from{
    left: -40px;
  }
}

/*SERVICES SECTION MEDIA QUERIES*/
@media (max-width: 240px) {
  .taglineWrapper {
    height:100vh;
  }
}
